* {
	background-color: ivory;
}

/* Lista de Pessoas */

.fundo-tabela {
	margin: 0.5px auto;
	border: 2px solid #111111;
	border-radius: 16px;
	box-shadow: 5px 5px darkblue;
	padding: 5px;
	width: 85%;
}
 
.fundo-tabela table {
	text-align: center;
	margin: 2px auto;
	width: 80%;
}

.linha{
	width: 50%;
}

/* Not Found */

.pagina {
	text-align: center;
}

.fundo-house {
	background-color: #111111 !important;
}

.btn-inicio {
	width: 60px;
	height: 60px;
	background-color: #111111;
	color: white;
	border: 3px gray dashed;
	border-radius: 10px;
}

.infos-pessoa {
	border: 2px solid #111111;
	border-radius: 16px;
	box-shadow: 5px 5px darkblue;
	width: 50%;
	margin: 6px auto;	
}

.lista-infos {
	list-style: none;
	width: 30%;
	margin: 5px auto;
}