.bg-quantum {
    background-color: #111111;
}

.border-nav-title {
	border-radius: 0 10px 0 10px;
    border-top: 2px dashed red;
    border-bottom: 2px dashed yellow;
    border-right: 2px dashed orange;
    border-left: 2px dashed orange;
    text-align: center;
    padding: 2px 5px;
}


/* Table Lista Pessoas */

.conteudo {
	text-align: center;
	margin: 1em auto;
    padding: 10px;
    width: 70%;
    border: 2px solid #DAA520;
    border-radius: 16px;
    box-shadow: 5px 5px #236DF3;
}

.conteudo div {
	text-align: right;
}

.conteudo table {
	margin: 5px auto;
    width: 80%;
}

.conteudo.nova-pessoa {
	width: 40% !important;
}

.btnCadPessoa {
	position: relative;
	color: white;
    background-color: #111111;
    border: 3px dashed #00c800;
    border-radius: 5px;
}

.form-nova-pessoa {
	text-align: left;
	width: 70%;
	margin: 5px auto;
}

.form-nova-pessoa label {
	display: block;
	margin: 5px;
}
#nome {
	margin-left: 40px;
}

.btns {
	text-align: center;
}

.btns button {
	background-color: #111111;
	color: white;
	border: 1px solid white;
    border-radius: 5px;
}

.btn-deletar {
    border: 3px dashed red !important;
}

.btn-enviar {
    border: 3px dashed #00c800 !important;
}

.btn-reset {
    border: 3px dashed red !important;
}

.olho{
	width: 1.3em;
	height: 1.3em;
}
#olho:hover {
	cursor: pointer;
}